vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-SQF54A1\\Goto
vti_modifiedby:SR|DESKTOP-SQF54A1\\Goto
vti_timelastmodified:TR|01 Dec 2017 06:15:30 -0000
vti_timecreated:TR|20 Oct 2017 17:15:16 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|works/shinkaikun_v3/index.html about/index.html works/shinkaikun_x/index.html links/index.html member/index.html master.dwt works/shinkaikun_v2/index.html works/soreara/index.html contact/index.html works/index.html works/shinkaikun_type_c/index.html index.html works/watch/index.html
vti_nexttolasttimemodified:TW|01 Dec 2017 06:12:36 -0000
vti_syncofs_sv1.webcrow-php.netowl.jp\:21:TW|01 Dec 2017 06:17:04 -0000
vti_syncwith_sv1.webcrow-php.netowl.jp\:21:TX|01 Dec 2017 05:55:50 -0000
vti_cacheddtm:TX|01 Dec 2017 05:55:50 -0000
vti_filesize:IR|2091
vti_cachedlinkinfo:VX|Q|layout.css
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css
